/* Falling Block Game */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #222831;
}

h3.fallingBlockGame-title {
    color: rgba(255, 255, 255, 1);
    font-size: 54px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 46px;
    font-weight: 500;
    margin: 0;
    border: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
    display: grid;
    align-items: center;
    justify-content: center;
}

.BoardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    width: 199px;
    background: var(--modal-panel-background-color);
}

.Board>div {
    width: 19px;
    height: 19px;
}

.ScoreBoardContainer{
    margin-left: 15px;
}

.ScoreBoardTitle{
    h4{
        display: grid;
        justify-content: center;
        font-size: 16px;
        background: -webkit-linear-gradient(left, var(--primary-accent-color) 0%, #dc416a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        letter-spacing: 10px;
        font-weight: 400;
    }

    margin-bottom: 5px;
} 

.ScoreBoard {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-font-color);
    width: 160px;
    padding: 5px;
    border-left: 1px solid var(--primary-accent-color);
    border-right: 1px solid #dc416a;
    background-image: linear-gradient(90deg, var(--primary-accent-color), #dc416a), linear-gradient(90deg, var(--primary-accent-color), #dc416a);
    background-size: 100% 1px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

#fallingBlockGame-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px
}

#fallingBlockGame-button-container i {
    font-size: 24px;
}

.block-filled {
    background: rgba(0, 0, 0, 0.4);
}

.block-active {
    background: var(--primary-accent-color);
}

.block-empty {
    background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
    .BoardContainer{
        display: grid;
    }

    .ScoreBoardContainer{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .Board{
        width: 99px;
        justify-self: center;

        div{
            width: 9px;
            height: 9px;
        }
    }
}