/* Header */

#header-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: var(--background-color);
  backdrop-filter: blur(10px);
  height: 70px;
  width: 100vw;
  z-index: 100;
  box-shadow: var(--box-shadow);
  transition: var(--transition-time);
}

.logo-section {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  width: 300px;
}

.logo-container {
  padding-right: 25px;
  height: 40px;
  border-right: solid #444 1px;
}

.logo-container img {
  width: 42px;
}

.logo-caption {
  display: grid;
  align-content: center;
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 18px;
  margin: 0 0 0 25px;
  width: 154px;
  height: 40px;
}

.header-menu-container {
  display: grid;
  align-content: center;
  height: 70px;
}

.header-menu-container ul {
  display: table;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding-right: 15px;
  height: 38px;
}

.header-menu-container li {
  vertical-align: middle;
  display: table-cell;
  font-size: 14px;
  letter-spacing: 0.81px;
  padding: 0;
  margin: 0;
}

.menu-border-right::after {
  content: "";
  height: 19px;
  margin-left: 50px;
  margin-right: 50px;
  border-left: solid #444 1px;
}

.header-contact {
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #444;
  margin-left: 25px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
}

.header-contact:hover {
  background: var(--primary-accent-color);
  border: solid 1px var(--primary-accent-color);
  color: #fff;
  transition: 0.3s;
}

.header-menu-container li>a {
  position: relative;
  text-decoration: none;
  color: #444;
}

#contact-text {
  display: block;
}

#contact-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .logo-caption {
    display: none;
  }

  .logo-container {
    border-right: none;
    padding-right: 0;
  }

  #contact-text {
    display: none;
  }

  #contact-icon {
    display: block;
  }
}