/* Home Tiles */

[data-tile="hom000"] {
    background: var(--tile-set-home) calc(0 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom001"] {
    background: var(--tile-set-home) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom002"] {
    background: var(--tile-set-home) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom003"] {
    background: var(--tile-set-home) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom004"] {
    background: var(--tile-set-home) calc(-4 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom005"] {
    background: var(--tile-set-home) calc(-5 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom006"] {
    background: var(--tile-set-home) calc(-6 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom007"] {
    background: var(--tile-set-home) calc(-7 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom008"] {
    background: var(--tile-set-home) calc(-8 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom009"] {
    background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom010"] {
    background: var(--tile-set-home) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom011"] {
    background: var(--tile-set-home) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom012"] {
    background: var(--tile-set-home) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom013"] {
    background: var(--tile-set-home) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom014"] {
    background: var(--tile-set-home) calc(-4 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom015"] {
    background: var(--tile-set-home) calc(-5 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom016"] {
    background: var(--tile-set-home) calc(-6 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom017"] {
    background: var(--tile-set-home) calc(-7 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom018"] {
    background: var(--tile-set-home) calc(-8 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom019"] {
    background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom020"] {
    background: var(--tile-set-home) calc(0 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom021"] {
    background: var(--tile-set-home) calc(-1 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom022"] {
    background: var(--tile-set-home) calc(-2 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom023"] {
    background: var(--tile-set-home) calc(-3 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom024"] {
    background: var(--tile-set-home) calc(-4 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom025"] {
    background: var(--tile-set-home) calc(-5 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom026"] {
    background: var(--tile-set-home) calc(-6 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom027"] {
    background: var(--tile-set-home) calc(-7 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom028"] {
    background: var(--tile-set-home) calc(-8 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom029"] {
    background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom030"] {
    background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}