/* Player Tiles */

[data-tile="playerWest"] {
  background: var(--tile-set-player) 0 0px;
}

[data-tile="playerWestMove"] {
  background: var(--tile-set-player) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height))
}

[data-tile="playerEast"] {
  background: var(--tile-set-player) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="playerEastMove"] {
  background: var(--tile-set-player) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height))
}

[data-tile="playerNorth"] {
  background: var(--tile-set-player) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="playerNorthMove"] {
  background: var(--tile-set-player) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height))
}

[data-tile="playerSouth"] {
  background: var(--tile-set-player) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="playerSouthMove"] {
  background: var(--tile-set-player) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height))
}