/* Portfolio Tiles */

[data-tile="por000"] {
    background: var(--tile-set-portfolio) calc(0 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por001"] {
    background: var(--tile-set-portfolio) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por002"] {
    background: var(--tile-set-portfolio) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por003"] {
    background: var(--tile-set-portfolio) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por004"] {
    background: var(--tile-set-portfolio) calc(-4 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por005"] {
    background: var(--tile-set-portfolio) calc(-5 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por006"] {
    background: var(--tile-set-portfolio) calc(-6 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por007"] {
    background: var(--tile-set-portfolio) calc(-7 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por008"] {
    background: var(--tile-set-portfolio) calc(-8 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por009"] {
    background: var(--tile-set-portfolio) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por010"] {
    background: var(--tile-set-portfolio) calc(-10 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por011"] {
    background: var(--tile-set-portfolio) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por012"] {
    background: var(--tile-set-portfolio) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por013"] {
    background: var(--tile-set-portfolio) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por014"] {
    background: var(--tile-set-portfolio) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por015"] {
    background: var(--tile-set-portfolio) calc(-4 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por016"] {
    background: var(--tile-set-portfolio) calc(-5 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por017"] {
    background: var(--tile-set-portfolio) calc(-6 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por018"] {
    background: var(--tile-set-portfolio) calc(-7 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por019"] {
    background: var(--tile-set-portfolio) calc(-8 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por020"] {
    background: var(--tile-set-portfolio) calc(-9 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por021"] {
    background: var(--tile-set-portfolio) calc(-10 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por022"] {
    background: var(--tile-set-portfolio) calc(0 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por023"] {
    background: var(--tile-set-portfolio) calc(-1 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por024"] {
    background: var(--tile-set-portfolio) calc(-2 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por025"] {
    background: var(--tile-set-portfolio) calc(-3 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por026"] {
    background: var(--tile-set-portfolio) calc(-4 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por027"] {
    background: var(--tile-set-portfolio) calc(-5 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por028"] {
    background: var(--tile-set-portfolio) calc(-6 * var(--tile-width)) calc(-2 * var(--tile-height));
}