/* Skills Tiles */

[data-tile="ski000"] {
    background: var(--tile-set-skills) calc(0 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski001"] {
    background: var(--tile-set-skills) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski002"] {
    background: var(--tile-set-skills) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski003"] {
    background: var(--tile-set-skills) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski004"] {
    background: var(--tile-set-skills) calc(-4 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski005"] {
    background: var(--tile-set-skills) calc(-5 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski006"] {
    background: var(--tile-set-skills) calc(-6 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski007"] {
    background: var(--tile-set-skills) calc(-7 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski008"] {
    background: var(--tile-set-skills) calc(-8 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski009"] {
    background: var(--tile-set-skills) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski010"] {
    background: var(--tile-set-skills) calc(-10 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski011"] {
    background: var(--tile-set-skills) calc(-11 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski012"] {
    background: var(--tile-set-skills) calc(-12 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski013"] {
    background: var(--tile-set-skills) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski014"] {
    background: var(--tile-set-skills) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski015"] {
    background: var(--tile-set-skills) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski016"] {
    background: var(--tile-set-skills) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski017"] {
    background: var(--tile-set-skills) calc(-4 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski018"] {
    background: var(--tile-set-skills) calc(-5 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski019"] {
    background: var(--tile-set-skills) calc(-6 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski020"] {
    background: var(--tile-set-skills) calc(-7 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski021"] {
    background: var(--tile-set-skills) calc(-8 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski022"] {
    background: var(--tile-set-skills) calc(-9 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski023"] {
    background: var(--tile-set-skills) calc(-10 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski024"] {
    background: var(--tile-set-skills) calc(-11 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski025"] {
    background: var(--tile-set-skills) calc(-12 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski026"] {
    background: var(--tile-set-skills) calc(-12 * var(--tile-width)) calc(-1 * var(--tile-height));
}