:root {
  --tile-width: 64px;
  --tile-height: 64px;
  --tile-set-world: url(/src/img/TileSetWorld.png);
  --tile-set-skills: url(/src/img/TileSetSkills.png);
  --tile-set-portfolio: url(/src/img/TileSetPortfolio.png);
  --tile-set-home: url(/src/img/TileSetHome.png);
  --primary-accent-color: #0f94c2;
}

/* Header */
#header-container {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 70px;
  width: 100vw;
  z-index: 100;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 50px;
  width: 300px;
}

.logo-container {
  padding-right: 25px;
  height: 40px;
  border-right: solid #444 1px;
}

.logo-container img {
  width: 42px;
}

.logo-caption {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 12px;
  letter-spacing: 4px;
  line-height: 18px;
  margin: 0 0 0 25px;
  width: 154px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .logo-caption {
    display: none;
  }
  .logo-container {
    border-right: none;
  }
}

.header-menu-container {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 70px;
}

.header-menu-container ul {
  display: table;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding-right: 50px;
  height: 38px;
}

.header-menu-container li {
  vertical-align: middle;
  display: table-cell;
  font-size: 14px;
  letter-spacing: 0.81px;
  padding: 0;
  margin: 0;
}

.menu-border-right::after {
  content: "";
  height: 19px;
  margin-left: 50px;
  margin-right: 50px;
  border-left: solid #444 1px;
}

.header-contact {
  display: inline-block;
  vertical-align: middle;
  border: solid 1px #444;
  margin-left: 25px;
  padding: 10px 35px 10px 35px;
  cursor: pointer;
}

.header-contact:hover {
  background: var(--primary-accent-color);
  border: solid 1px var(--primary-accent-color);
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-menu-container li > a {
  position: relative;
  text-decoration: none;
  color: #444;
}

/* Contact */
#contact-text p {
  margin: 0 30px 30px;
  width: auto;
}

#contact-form {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

#name {
  margin: 0 5px 5px;
}

#email {
  margin: 5px;
}

#email,
#name {
  padding: 10px;
  height: 18px;
  border-radius: 3px;
  border-style: none;
  background: white;
  border-width: 1px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

#message,
#submit-button {
  border-style: none;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

#message {
  vertical-align: top;
  padding: 10px 10px 130px;
  margin: 5px;
  height: 10px;
  border-radius: 3px;
  background: white;
  border-width: 1px;
}

.contact-form-text-area {
  width: 500px;
  max-width: 80vw;
}

#submit-button {
  background: #dc416a;
  color: #fff;
  width: 100px;
  height: 38px;
  margin: 30px 5px 30px;
  cursor: pointer;
}

#submit-button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* CRT */
@-webkit-keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@-webkit-keyframes textShadow {
  0% {
    text-shadow: 0.43899px 0 1px rgba(0, 30, 255, 0.5), -0.43899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7929px 0 1px rgba(0, 30, 255, 0.5), -2.7929px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956px 0 1px rgba(0, 30, 255, 0.5), -0.02956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40219px 0 1px rgba(0, 30, 255, 0.5), -0.40219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794px 0 1px rgba(0, 30, 255, 0.5), -3.4794px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.61256px 0 1px rgba(0, 30, 255, 0.5), -1.61256px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.70156px 0 1px rgba(0, 30, 255, 0.5), -0.70156px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.89691px 0 1px rgba(0, 30, 255, 0.5), -3.89691px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.87091px 0 1px rgba(0, 30, 255, 0.5), -3.87091px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.23106px 0 1px rgba(0, 30, 255, 0.5), -2.23106px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084px 0 1px rgba(0, 30, 255, 0.5), -0.08084px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.37585px 0 1px rgba(0, 30, 255, 0.5), -2.37585px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.20219px 0 1px rgba(0, 30, 255, 0.5), -2.20219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.86388px 0 1px rgba(0, 30, 255, 0.5), -2.86388px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874px 0 1px rgba(0, 30, 255, 0.5), -0.48874px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.89485px 0 1px rgba(0, 30, 255, 0.5), -1.89485px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833px 0 1px rgba(0, 30, 255, 0.5), -0.0833px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.0977px 0 1px rgba(0, 30, 255, 0.5), -0.0977px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.44334px 0 1px rgba(0, 30, 255, 0.5), -3.44334px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.18418px 0 1px rgba(0, 30, 255, 0.5), -2.18418px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.62088px 0 1px rgba(0, 30, 255, 0.5), -2.62088px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.43899px 0 1px rgba(0, 30, 255, 0.5), -0.43899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7929px 0 1px rgba(0, 30, 255, 0.5), -2.7929px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956px 0 1px rgba(0, 30, 255, 0.5), -0.02956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40219px 0 1px rgba(0, 30, 255, 0.5), -0.40219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794px 0 1px rgba(0, 30, 255, 0.5), -3.4794px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.61256px 0 1px rgba(0, 30, 255, 0.5), -1.61256px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.70156px 0 1px rgba(0, 30, 255, 0.5), -0.70156px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.89691px 0 1px rgba(0, 30, 255, 0.5), -3.89691px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.87091px 0 1px rgba(0, 30, 255, 0.5), -3.87091px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.23106px 0 1px rgba(0, 30, 255, 0.5), -2.23106px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084px 0 1px rgba(0, 30, 255, 0.5), -0.08084px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.37585px 0 1px rgba(0, 30, 255, 0.5), -2.37585px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.20219px 0 1px rgba(0, 30, 255, 0.5), -2.20219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.86388px 0 1px rgba(0, 30, 255, 0.5), -2.86388px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874px 0 1px rgba(0, 30, 255, 0.5), -0.48874px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.89485px 0 1px rgba(0, 30, 255, 0.5), -1.89485px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833px 0 1px rgba(0, 30, 255, 0.5), -0.0833px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.0977px 0 1px rgba(0, 30, 255, 0.5), -0.0977px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.44334px 0 1px rgba(0, 30, 255, 0.5), -3.44334px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.18418px 0 1px rgba(0, 30, 255, 0.5), -2.18418px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.62088px 0 1px rgba(0, 30, 255, 0.5), -2.62088px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.06);
  opacity: 0;
  z-index: 20;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 20;
  background-size: 100% 3px, 4px 100%;
  pointer-events: none;
}

.crt {
  -webkit-animation: textShadow 1.6s infinite;
          animation: textShadow 1.6s infinite;
}

/* Footer */
footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  padding: 38px 0 38px 0;
  width: 100vw;
  width: 100vw;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100;
}

#copyright p {
  text-align: center;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

#copyright span {
  color: #0f94c2;
}

#social-footer {
  text-align: center;
  margin-bottom: 16px;
}

.social-media-icons {
  color: #444;
  font-size: 26px;
  margin-left: 25px;
  margin-right: 25px;
}

#social-footer a:hover svg {
  color: var(--primary-accent-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 510px) {
  .social-media-icons {
    margin-left: 12.5px;
    margin-right: 12.5px;
  }
}

/* Modal */
#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 150;
}

#modal-container h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #222;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}

#modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(255, 255, 255, 0.75);
  z-index: 105;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

#modal::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 103;
}

#close-modal-container {
  position: relative;
  z-index: 106;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px;
      grid-template-columns: 1fr 100px;
}

#modal-title {
  padding: 15px 0 15px 30px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.5px;
}

#close-modal-container:after {
  content: "";
  background: -webkit-linear-gradient(left, var(--primary-accent-color) 0%, #dc416a 100%);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#close-modal {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 15px 30px 15px 30px;
}

#close-modal-button {
  cursor: pointer;
}

#modal-body {
  margin: 30px 30px 0 30px;
  z-index: 106;
}

.portfolio-text-section:last-child {
  margin-bottom: 30px;
}

.portfolio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
      grid-template-columns: 1fr 30px 1fr;
}

.portfolio-container, .skills-container, #contact-container {
  max-height: 70vh;
  overflow: auto;
}

.portfolio-image-col {
  width: 420px;
  margin-bottom: 30px;
}

.portfolio-image-col img {
  width: 100%;
  aspect-ratio: 1.4;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-text-col, .skills-text-col {
  width: 420px;
}

.portfolio-text-col p, .skills-text-col p {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

.portfolio-text-col p.portfolio-skill-text, .skills-text-col p.portfolio-skill-text {
  margin-bottom: 0;
}

.skills-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.portfolio-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-weight: 300px;
}

.portfolio-skill-bottom {
  margin-bottom: 0;
}

.portfolio-skill-img {
  width: 20px;
  margin-right: 15px;
}

@media only screen and (max-width: 1350px) {
  .portfolio-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolio-container .portfolio-image-col {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-image-col, .portfolio-text-col {
    max-width: 70vw;
  }
  .skills-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .portfolio-skill-bottom-col-1 {
    margin-bottom: 15px;
  }
}

/* World Tiles */
/* Grass Tiles */
[data-tile="gra000"] {
  background: var(--tile-set-world) calc(0 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra001"] {
  background: var(--tile-set-world) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra002"] {
  background: var(--tile-set-world) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra003"] {
  background: var(--tile-set-world) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra004"] {
  background: var(--tile-set-world) calc(-4 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra005"] {
  background: var(--tile-set-world) calc(-5 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra006"] {
  background: var(--tile-set-world) calc(-6 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra007"] {
  background: var(--tile-set-world) calc(-7 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra008"] {
  background: var(--tile-set-world) calc(-8 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra009"] {
  background: var(--tile-set-world) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra010"] {
  background: var(--tile-set-world) calc(-10 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra011"] {
  background: var(--tile-set-world) calc(-11 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="gra012"] {
  background: var(--tile-set-world) calc(-2 * var(--tile-width)) calc(-6 * var(--tile-height));
}

[data-tile="gra013"] {
  background: var(--tile-set-world) calc(-6 * var(--tile-width)) calc(-6 * var(--tile-height));
}

/* Sand tiles */
[data-tile="san000"] {
  background: var(--tile-set-world) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="san001"] {
  background: var(--tile-set-world) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="san002"] {
  background: var(--tile-set-world) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="san003"] {
  background: var(--tile-set-world) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="san004"] {
  background: var(--tile-set-world) calc(-4 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="san005"] {
  background: var(--tile-set-world) calc(-5 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="san006"] {
  background: var(--tile-set-world) calc(-6 * var(--tile-width)) calc(-1 * var(--tile-height));
}

/* Water Tiles */
[data-tile="wat000"] {
  background: var(--tile-set-world) calc(-10 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="wat001"] {
  background: var(--tile-set-world) calc(-11 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="wat002"] {
  background: var(--tile-set-world) calc(-12 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="wat003"] {
  background: var(--tile-set-world) calc(-13 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="wat004"] {
  background: var(--tile-set-world) calc(-14 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="wat005"] {
  background: var(--tile-set-world) calc(-15 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="wat006"] {
  background: var(--tile-set-world) calc(-12 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="wat007"] {
  background: var(--tile-set-world) calc(-13 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="wat008"] {
  background: var(--tile-set-world) calc(-14 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="wat009"] {
  background: var(--tile-set-world) calc(-15 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="wat010"] {
  background: var(--tile-set-world) calc(-7 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat011"] {
  background: var(--tile-set-world) calc(-8 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat012"] {
  background: var(--tile-set-world) calc(-9 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat013"] {
  background: var(--tile-set-world) calc(-10 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat014"] {
  background: var(--tile-set-world) calc(-11 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat015"] {
  background: var(--tile-set-world) calc(-12 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat016"] {
  background: var(--tile-set-world) calc(-13 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat017"] {
  background: var(--tile-set-world) calc(-14 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat018"] {
  background: var(--tile-set-world) calc(-15 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="wat019"] {
  background: var(--tile-set-world) calc(0 * var(--tile-width)) calc(-6 * var(--tile-height));
}

[data-tile="wat020"] {
  background: var(--tile-set-world) calc(-1 * var(--tile-width)) calc(-6 * var(--tile-height));
}

[data-tile="wat021"] {
  background: var(--tile-set-world) calc(-3 * var(--tile-width)) calc(-6 * var(--tile-height));
}

[data-tile="wat022"] {
  background: var(--tile-set-world) calc(-4 * var(--tile-width)) calc(-6 * var(--tile-height));
}

[data-tile="wat023"] {
  background: var(--tile-set-world) calc(-5 * var(--tile-width)) calc(-6 * var(--tile-height));
}

/* Bridge Tiles */
[data-tile="bri000"] {
  background: var(--tile-set-world) calc(0 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri001"] {
  background: var(--tile-set-world) calc(-1 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri002"] {
  background: var(--tile-set-world) calc(-2 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri003"] {
  background: var(--tile-set-world) calc(-3 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri004"] {
  background: var(--tile-set-world) calc(-4 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri005"] {
  background: var(--tile-set-world) calc(-5 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri006"] {
  background: var(--tile-set-world) calc(-6 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri007"] {
  background: var(--tile-set-world) calc(-7 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri008"] {
  background: var(--tile-set-world) calc(-8 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri009"] {
  background: var(--tile-set-world) calc(-9 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri010"] {
  background: var(--tile-set-world) calc(-10 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri011"] {
  background: var(--tile-set-world) calc(-11 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="bri012"] {
  background: var(--tile-set-world) calc(-12 * var(--tile-width)) calc(-5 * var(--tile-height));
}

/* Building Tiles */
[data-tile="bui000"] {
  background: var(--tile-set-world) calc(0 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui001"] {
  background: var(--tile-set-world) calc(-1 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui002"] {
  background: var(--tile-set-world) calc(-2 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui003"] {
  background: var(--tile-set-world) calc(-3 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui004"] {
  background: var(--tile-set-world) calc(-4 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui005"] {
  background: var(--tile-set-world) calc(-5 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui006"] {
  background: var(--tile-set-world) calc(-6 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui007"] {
  background: var(--tile-set-world) calc(-7 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui008"] {
  background: var(--tile-set-world) calc(-8 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui009"] {
  background: var(--tile-set-world) calc(-9 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui010"] {
  background: var(--tile-set-world) calc(-10 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui011"] {
  background: var(--tile-set-world) calc(-11 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui012"] {
  background: var(--tile-set-world) calc(-12 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui013"] {
  background: var(--tile-set-world) calc(-13 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui014"] {
  background: var(--tile-set-world) calc(-14 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui015"] {
  background: var(--tile-set-world) calc(-15 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="bui016"] {
  background: var(--tile-set-world) calc(0 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui017"] {
  background: var(--tile-set-world) calc(-1 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui018"] {
  background: var(--tile-set-world) calc(-2 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui019"] {
  background: var(--tile-set-world) calc(-3 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui020"] {
  background: var(--tile-set-world) calc(-4 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui021"] {
  background: var(--tile-set-world) calc(-5 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui022"] {
  background: var(--tile-set-world) calc(-6 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui023"] {
  background: var(--tile-set-world) calc(-7 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui024"] {
  background: var(--tile-set-world) calc(-8 * var(--tile-width)) calc(-3 * var(--tile-height));
}

[data-tile="bui025"] {
  background: var(--tile-set-world) calc(0 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui026"] {
  background: var(--tile-set-world) calc(-1 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui027"] {
  background: var(--tile-set-world) calc(-2 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui028"] {
  background: var(--tile-set-world) calc(-3 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui029"] {
  background: var(--tile-set-world) calc(-4 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui030"] {
  background: var(--tile-set-world) calc(-5 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui031"] {
  background: var(--tile-set-world) calc(-6 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui032"] {
  background: var(--tile-set-world) calc(-7 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui033"] {
  background: var(--tile-set-world) calc(-8 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui034"] {
  background: var(--tile-set-world) calc(-9 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui035"] {
  background: var(--tile-set-world) calc(-10 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui036"] {
  background: var(--tile-set-world) calc(-11 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui037"] {
  background: var(--tile-set-world) calc(-12 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui038"] {
  background: var(--tile-set-world) calc(-13 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui039"] {
  background: var(--tile-set-world) calc(-14 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui040"] {
  background: var(--tile-set-world) calc(-15 * var(--tile-width)) calc(-4 * var(--tile-height));
}

[data-tile="bui041"] {
  background: var(--tile-set-world) calc(-9 * var(--tile-width)) calc(-3 * var(--tile-height));
}

/* Cliff Tiles */
[data-tile="cli000"] {
  background: var(--tile-set-world) calc(-13 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="cli001"] {
  background: var(--tile-set-world) calc(-14 * var(--tile-width)) calc(-5 * var(--tile-height));
}

[data-tile="cli002"] {
  background: var(--tile-set-world) calc(-15 * var(--tile-width)) calc(-5 * var(--tile-height));
}

/* Skills Tiles */
[data-tile="ski000"] {
  background: var(--tile-set-skills) calc(0 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski001"] {
  background: var(--tile-set-skills) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski002"] {
  background: var(--tile-set-skills) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski003"] {
  background: var(--tile-set-skills) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski004"] {
  background: var(--tile-set-skills) calc(-4 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski005"] {
  background: var(--tile-set-skills) calc(-5 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski006"] {
  background: var(--tile-set-skills) calc(-6 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski007"] {
  background: var(--tile-set-skills) calc(-7 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski008"] {
  background: var(--tile-set-skills) calc(-8 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski009"] {
  background: var(--tile-set-skills) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski010"] {
  background: var(--tile-set-skills) calc(-10 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski011"] {
  background: var(--tile-set-skills) calc(-11 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski012"] {
  background: var(--tile-set-skills) calc(-12 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="ski013"] {
  background: var(--tile-set-skills) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski014"] {
  background: var(--tile-set-skills) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski015"] {
  background: var(--tile-set-skills) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski016"] {
  background: var(--tile-set-skills) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski017"] {
  background: var(--tile-set-skills) calc(-4 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski018"] {
  background: var(--tile-set-skills) calc(-5 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski019"] {
  background: var(--tile-set-skills) calc(-6 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski020"] {
  background: var(--tile-set-skills) calc(-7 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski021"] {
  background: var(--tile-set-skills) calc(-8 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski022"] {
  background: var(--tile-set-skills) calc(-9 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski023"] {
  background: var(--tile-set-skills) calc(-10 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski024"] {
  background: var(--tile-set-skills) calc(-11 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski025"] {
  background: var(--tile-set-skills) calc(-12 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="ski026"] {
  background: var(--tile-set-skills) calc(-12 * var(--tile-width)) calc(-1 * var(--tile-height));
}

/* Portfolio Tiles */
[data-tile="por000"] {
  background: var(--tile-set-portfolio) calc(0 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por001"] {
  background: var(--tile-set-portfolio) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por002"] {
  background: var(--tile-set-portfolio) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por003"] {
  background: var(--tile-set-portfolio) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por004"] {
  background: var(--tile-set-portfolio) calc(-4 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por005"] {
  background: var(--tile-set-portfolio) calc(-5 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por006"] {
  background: var(--tile-set-portfolio) calc(-6 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por007"] {
  background: var(--tile-set-portfolio) calc(-7 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por008"] {
  background: var(--tile-set-portfolio) calc(-8 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por009"] {
  background: var(--tile-set-portfolio) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por010"] {
  background: var(--tile-set-portfolio) calc(-10 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="por011"] {
  background: var(--tile-set-portfolio) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por012"] {
  background: var(--tile-set-portfolio) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por013"] {
  background: var(--tile-set-portfolio) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por014"] {
  background: var(--tile-set-portfolio) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por015"] {
  background: var(--tile-set-portfolio) calc(-4 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por016"] {
  background: var(--tile-set-portfolio) calc(-5 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por017"] {
  background: var(--tile-set-portfolio) calc(-6 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por018"] {
  background: var(--tile-set-portfolio) calc(-7 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por019"] {
  background: var(--tile-set-portfolio) calc(-8 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por020"] {
  background: var(--tile-set-portfolio) calc(-9 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por021"] {
  background: var(--tile-set-portfolio) calc(-10 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="por022"] {
  background: var(--tile-set-portfolio) calc(0 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por023"] {
  background: var(--tile-set-portfolio) calc(-1 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por024"] {
  background: var(--tile-set-portfolio) calc(-2 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por025"] {
  background: var(--tile-set-portfolio) calc(-3 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por026"] {
  background: var(--tile-set-portfolio) calc(-4 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por027"] {
  background: var(--tile-set-portfolio) calc(-5 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="por028"] {
  background: var(--tile-set-portfolio) calc(-6 * var(--tile-width)) calc(-2 * var(--tile-height));
}

/* Home Tiles */
[data-tile="hom000"] {
  background: var(--tile-set-home) calc(0 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom001"] {
  background: var(--tile-set-home) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom002"] {
  background: var(--tile-set-home) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom003"] {
  background: var(--tile-set-home) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom004"] {
  background: var(--tile-set-home) calc(-4 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom005"] {
  background: var(--tile-set-home) calc(-5 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom006"] {
  background: var(--tile-set-home) calc(-6 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom007"] {
  background: var(--tile-set-home) calc(-7 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom008"] {
  background: var(--tile-set-home) calc(-8 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom009"] {
  background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="hom010"] {
  background: var(--tile-set-home) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom011"] {
  background: var(--tile-set-home) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom012"] {
  background: var(--tile-set-home) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom013"] {
  background: var(--tile-set-home) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom014"] {
  background: var(--tile-set-home) calc(-4 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom015"] {
  background: var(--tile-set-home) calc(-5 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom016"] {
  background: var(--tile-set-home) calc(-6 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom017"] {
  background: var(--tile-set-home) calc(-7 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom018"] {
  background: var(--tile-set-home) calc(-8 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom019"] {
  background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="hom020"] {
  background: var(--tile-set-home) calc(0 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom021"] {
  background: var(--tile-set-home) calc(-1 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom022"] {
  background: var(--tile-set-home) calc(-2 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom023"] {
  background: var(--tile-set-home) calc(-3 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom024"] {
  background: var(--tile-set-home) calc(-4 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom025"] {
  background: var(--tile-set-home) calc(-5 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom026"] {
  background: var(--tile-set-home) calc(-6 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom027"] {
  background: var(--tile-set-home) calc(-7 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom028"] {
  background: var(--tile-set-home) calc(-8 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom029"] {
  background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(-2 * var(--tile-height));
}

[data-tile="hom030"] {
  background: var(--tile-set-home) calc(-9 * var(--tile-width)) calc(0 * var(--tile-height));
}

/* Player Tiles */
[data-tile="playerWest"] {
  background: url(/src/img/TileSetPlayer.png) 0 0px;
}

[data-tile="playerWestMove"] {
  background: url(/src/img/TileSetPlayer.png) calc(0 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="playerEast"] {
  background: url(/src/img/TileSetPlayer.png) calc(-1 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="playerEastMove"] {
  background: url(/src/img/TileSetPlayer.png) calc(-1 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="playerNorth"] {
  background: url(/src/img/TileSetPlayer.png) calc(-3 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="playerNorthMove"] {
  background: url(/src/img/TileSetPlayer.png) calc(-3 * var(--tile-width)) calc(-1 * var(--tile-height));
}

[data-tile="playerSouth"] {
  background: url(/src/img/TileSetPlayer.png) calc(-2 * var(--tile-width)) calc(0 * var(--tile-height));
}

[data-tile="playerSouthMove"] {
  background: url(/src/img/TileSetPlayer.png) calc(-2 * var(--tile-width)) calc(-1 * var(--tile-height));
}

/* Player */
#playerAlert {
  position: fixed;
  position: fixed;
  top: calc(50% - (var(--tile-height)/2) - var(--tile-height));
  left: calc(50% - var(--tile-width)/2);
  width: var(--tile-width);
  height: var(--tile-height);
  background: url(/src/img/AlertBubble.png);
  z-index: 10;
}

#playerAlertA {
  position: fixed;
  position: fixed;
  top: calc(50% - (var(--tile-height)/2) - var(--tile-height));
  left: calc(50% - var(--tile-width)/2);
  width: var(--tile-width);
  height: var(--tile-height);
  background: url(/src/img/AlertA.png);
  z-index: 10;
  -webkit-animation: alert-button-hover 1s linear infinite;
  animation: alert-button-hover 1s linear infinite;
}

#player {
  position: fixed;
  position: fixed;
  top: calc(50% - var(--tile-width)/2);
  left: calc(50% - var(--tile-height)/2);
  width: var(--tile-width);
  height: var(--tile-height);
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
}

@-webkit-keyframes alert-button-hover {
  0% {
    --webkit-transform: translateY(calc(-1 / 32 * var(--tile-height)));
  }
  50% {
    -webkit-transform: translateY(calc(1 / 32 * var(--tile-height)));
  }
  100% {
    -webkit-transform: translateY(calc(-1 / 32 * var(--tile-height)));
  }
}

@keyframes alert-button-hover {
  0% {
    -webkit-transform: translateY(calc(-1 / 32 * var(--tile-height)));
    transform: translateY(calc(-1 / 32 * var(--tile-height)));
  }
  50% {
    -webkit-transform: translateY(calc(1 / 32 * var(--tile-height)));
    transform: translateY(calc(1 / 32 * var(--tile-height)));
  }
  100% {
    -webkit-transform: translateY(calc(-1 / 32 * var(--tile-height)));
    transform: translateY(calc(-1 / 32 * var(--tile-height)));
  }
}

/* Buttons */
.overlay-buttons-container {
  position: absolute;
  bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 105px;
  z-index: 200;
}

.overlay-buttons-action {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: 95px;
  width: 95px;
  padding: 5px;
}

.overlay-buttons-a {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.overlay-buttons-x {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.overlay-buttons-arrows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: 95px;
  width: 147.5px;
  padding: 5px;
}

.overlay-buttons-up {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.overlay-buttons-right {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.overlay-buttons-down {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.overlay-buttons-left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.overlay-button {
  color: rgba(255, 255, 255, 0.75);
  border: solid 1px rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 1px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.overlay-button:hover {
  color: rgba(255, 255, 255, 0.75);
  border: solid 1px rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.25);
}

.overlay-button-icon {
  font-size: 12px;
}

/* Falling Block Game */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
}

h3.fallingBlockGame-title {
  color: white;
  font-size: 54px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 46px;
  font-weight: 500;
  margin: 0;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BoardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  width: 199px;
  background: rgba(0, 0, 0, 0.1);
  background: white;
}

.Board > div {
  width: 19px;
  height: 19px;
}

.ScoreBoardContainer {
  margin-left: 15px;
}

.ScoreBoardTitle {
  margin-bottom: 5px;
}

.ScoreBoardTitle h4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background: -webkit-linear-gradient(left, var(--primary-accent-color) 0%, #dc416a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  letter-spacing: 10px;
  font-weight: 400;
}

.ScoreBoard {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: #444;
  width: 160px;
  padding: 5px;
  border-left: 1px solid var(--primary-accent-color);
  border-right: 1px solid #dc416a;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--primary-accent-color)), to(#dc416a)), -webkit-gradient(linear, left top, right top, from(var(--primary-accent-color)), to(#dc416a));
  background-image: linear-gradient(90deg, var(--primary-accent-color), #dc416a), linear-gradient(90deg, var(--primary-accent-color), #dc416a);
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

#fallingBlockGame-button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

#fallingBlockGame-button-container i {
  font-size: 24px;
}

.block-filled {
  background: rgba(0, 0, 0, 0.4);
}

.block-active {
  background: var(--primary-accent-color);
}

.block-empty {
  background: rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1vh;
  width: 1vw;
  overflow: hidden;
  background: var(--primary-accent-color);
  color: #444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#world-map-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#windmill-blades {
  z-index: 5;
  position: absolute;
  top: calc(-2 * var(--tile-height));
  right: calc(1 * var(--tile-width));
  -webkit-animation: spin 32s linear infinite;
  animation: spin 32s linear infinite;
}

#skills-container {
  z-index: 5;
}

#skills-container img {
  position: absolute;
  -webkit-animation: hover 4s linear infinite;
  animation: hover 4s linear infinite;
}

#skills-html {
  top: calc(4 * var(--tile-height));
  right: calc((11 * var(--tile-width)));
}

#skills-css {
  top: calc(4 * var(--tile-height));
  right: calc(8 * var(--tile-width));
}

#skills-js {
  top: calc(4 * var(--tile-height));
  right: calc(5 * var(--tile-width));
}

#skills-react {
  top: calc(4 * var(--tile-height));
  right: calc(2 * var(--tile-width));
}

#skills-dot-net {
  top: calc(8 * var(--tile-height));
  right: calc(11 * var(--tile-width));
}

#skills-c-sharp {
  top: calc(8 * var(--tile-height));
  right: calc(8 * var(--tile-width));
}

#skills-sql {
  top: calc(8 * var(--tile-height));
  right: calc(5 * var(--tile-width));
}

#skills-other {
  top: calc(8 * var(--tile-height));
  right: calc(2 * var(--tile-width));
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-1 / 4 * var(--tile-height)));
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(calc(-1 / 4 * var(--tile-height)));
    transform: translateY(calc(-1 / 4 * var(--tile-height)));
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.map-tile {
  width: var(--tile-width);
  height: var(--tile-height);
}

.text-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*# sourceMappingURL=index.css.map */