:root {
  --tile-width: 4em;
  --tile-height: 4em;
  --tile-set-player: url(/src/img/TileSetPlayer.png);
  --tile-set-world: url(/src/img/TileSetWorld.png);
  --tile-set-skills: url(/src/img/TileSetSkills.png);
  --tile-set-portfolio: url(/src/img/TileSetPortfolio.png);
  --tile-set-home: url(/src/img/TileSetHome.png);
  --primary-accent-color: #0f94c2;
  --background-color: rgba(255, 255, 255, 0.75);
  --primary-font-color: rgba(68, 68, 68, 1);
  --transition-time: 200ms;
  --box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.1);
  --body-background: #0f94c2;
}

[data-dark-mode="true"] {
  --tile-set-world: url(/src/img/TileSetWorldDark.png);
  --background-color: rgba(18, 18, 18, 0.75);
  --primary-font-color: rgba(255, 255, 255, 1);
  --body-background: rgba(0, 53, 103, 1);
}

[data-dark-mode="true"]:not([data-player-inside="true"]) {
  --tile-set-player: url(/src/img/TileSetPlayerDark.png);
}

[data-dark-mode="true"][data-player-inside="true"] {
  --box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 0 5px 0 rgba(255, 255, 255, 0.1);
}

@import "_header";
@import "_contact";
@import "_crt";
@import "_footer";
@import "_modal";
@import "_worldTiles";
@import "_skillsTiles";
@import "_portfolioTiles";
@import "_homeTiles";
@import "_playerTiles";
@import "_player";
@import "_buttons";
@import "_fallingBlockGame";
@import "_darkModeSwitch";
@import "_animations";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1vh;
  width: 1vw;
  overflow: hidden;
  background: rgba(51, 51, 51, 1);
  color: var(--primary-font-color);

  input,
  textarea {
    color: var(--primary-font-color);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 1);
  opacity: 0;
  z-index: 15;
}

#world-map-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}

#windmill-blades {
  z-index: 5;
  position: absolute;
  top: calc(-2 * var(--tile-height));
  right: calc(1 * var(--tile-width));
  -webkit-animation: spin 32s linear infinite;
  -moz-animation: spin 32s linear infinite;
  animation: spin 32s linear infinite;
}

#rubber-duck {
  z-index: 5;
  position: absolute;
  top: calc(9 * var(--tile-height));
  left: calc(13 * var(--tile-width));
  -webkit-animation: duckBob 4s linear infinite;
  -moz-animation: duckBob 4s linear infinite;
  animation: duckBob 4s linear infinite;
  overflow: hidden;

  img {
    -webkit-animation: duckAppear 30s linear infinite;
    -moz-animation: duckAppear 30s linear infinite;
    animation: duckAppear 30s linear infinite;
  }
}

#skills-container {
  z-index: 5;

  img {
    position: absolute;
    -webkit-animation: hover 4s linear infinite;
    -moz-animation: hover 4s linear infinite;
    animation: hover 4s linear infinite;
  }
}

#skills-html {
  top: calc(4 * var(--tile-height));
  right: calc(11 * var(--tile-width));
}

#skills-css {
  top: calc(4 * var(--tile-height));
  right: calc(8 * var(--tile-width));
}

#skills-js {
  top: calc(4 * var(--tile-height));
  right: calc(5 * var(--tile-width));
}

#skills-react {
  top: calc(4 * var(--tile-height));
  right: calc(2 * var(--tile-width));
}

#skills-dot-net {
  top: calc(8 * var(--tile-height));
  right: calc(11 * var(--tile-width));
}

#skills-c-sharp {
  top: calc(8 * var(--tile-height));
  right: calc(8 * var(--tile-width));
}

#skills-sql {
  top: calc(8 * var(--tile-height));
  right: calc(5 * var(--tile-width));
}

#skills-other {
  top: calc(8 * var(--tile-height));
  right: calc(2 * var(--tile-width));
}

.map-tile {
  width: var(--tile-width);
  height: var(--tile-height);
  /* IOS fix for incorrectly scaled sprites */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.text-no-select {
  -webkit-touch-callout: none;
  -touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-action: none;
  touch-action: none;
}

#world-map-outer {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

#mobile-debug {
  position: fixed;
  width: 200px;
  top: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9999;
}
